In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame(list(zip([1,2,3], ['a', 'b', 'c'])), columns=['c1', 'c2'])

In [19]:
d = {x['c2']:x[0] for _, x in df.iterrows()}

In [23]:
d.get('d', 'undefined')

'undefined'

In [49]:
>>> class Sic: 
...   def __repr__(self): return 'foo'
... 
>>> print(str(Sic()))
>>> print(repr(Sic()))

foo
foo

In [37]:
str(COL)

"<class '__main__.COL'>"

In [38]:
repr(COL)

"<class '__main__.COL'>"

In [31]:
COL.date

'Date'

In [1]:
from src.constants import COL

In [2]:
COL

src.constants.COL

In [3]:
COL??

In [4]:
import datetime

In [6]:
datetime.datetime.strptime('01:03:59', '%H:%M:%S')

datetime.datetime(1900, 1, 1, 1, 3, 59)

# dict keys and set

In [1]:
a = {'a':1, 'b':2}

In [2]:
b = {'a':2, 'd':3, 'c':2}

In [4]:
a.keys() - b.keys()

{'b'}

In [5]:
b.keys() - a.keys()

{'c', 'd'}

In [8]:
','.join(b.keys() - a.keys())

'd,c'

In [9]:
for x in b.keys()&a.keys():
    print(x)

a

In [12]:
a.keys()^b.keys()

{'b', 'c', 'd'}

# warning

In [10]:
import warnings

In [13]:
warnings.warn('1')
warnings.warn('2')

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: 1
  """Entry point for launching an IPython kernel.
D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: 2

# std, mean

In [60]:
l = [1]*100 + [1,2,3,4,5,6,7,8,9,10]
import pandas as pd

In [63]:
import numpy as np

In [80]:
mean = np.mean(l)
std = np.std(l, ddof=1)

In [81]:
np.digitize(s, [mean, mean+std, mean+std*2])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 3, 3, 3, 3, 3], dtype=int64)

In [82]:

def rtm_score(l):
    """

    :param l: array-like numeric data
    :return: array scores digitized by [mean, mean+std, mean+std*2]
    """
    mean = np.mean(l)
    std = np.std(l, ddof=1)
    return np.digitize(l, [mean, mean+std, mean+std*2])

In [84]:
s = pd.Series(l)
new_s = pd.Series(rtm_score(l), index=s.index)

s.index*=2

In [85]:
pd.DataFrame({'o': s, 'n':new_s})

       n     o
0    0.0   1.0
1    0.0   NaN
2    0.0   1.0
3    0.0   NaN
4    0.0   1.0
5    0.0   NaN
6    0.0   1.0
7    0.0   NaN
8    0.0   1.0
9    0.0   NaN
10   0.0   1.0
11   0.0   NaN
12   0.0   1.0
13   0.0   NaN
14   0.0   1.0
15   0.0   NaN
16   0.0   1.0
17   0.0   NaN
18   0.0   1.0
19   0.0   NaN
20   0.0   1.0
21   0.0   NaN
22   0.0   1.0
23   0.0   NaN
24   0.0   1.0
25   0.0   NaN
26   0.0   1.0
27   0.0   NaN
28   0.0   1.0
29   0.0   NaN
..   ...   ...
160  NaN   1.0
162  NaN   1.0
164  NaN   1.0
166  NaN   1.0
168  NaN   1.0
170  NaN   1.0
172  NaN   1.0
174  NaN   1.0
176  NaN   1.0
178  NaN   1.0
180  NaN   1.0
182  NaN   1.0
184  NaN   1.0
186  NaN   1.0
188  NaN   1.0
190  NaN   1.0
192  NaN   1.0
194  NaN   1.0
196  NaN   1.0
198  NaN   1.0
200  NaN   1.0
202  NaN   2.0
204  NaN   3.0
206  NaN   4.0
208  NaN   5.0
210  NaN   6.0
212  NaN   7.0
214  NaN   8.0
216  NaN   9.0
218  NaN  10.0

[165 rows x 2 columns]